<?xml version='1.0'?>

<robot name="fouliex_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find fouliex_bot)/urdf/fouliex_bot.gazebo"/>
    <xacro:include filename="$(find fouliex_bot)/urdf/materials.xacro" />
    <xacro:include filename="$(find fouliex_bot)/urdf/macros.xacro" />

    <link name="robot_footprint"></link>

    <joint name="robot_footprint_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="robot_footprint"/>
        <child link="chassis"/>
    </joint>

    <!-- Chassis Link -->
    <link name="chassis">
     <!-- pose and inertial -->
     <pose>0 0 0.1 0 0 0</pose>
     <inertial>
       <mass value="5"/>
       <origin rpy="0 0 0" xyz="0 0 0.1"/>
       <inertia ixx="0.0395416666667" ixy="0" ixz="0" iyy="0.106208333333" iyz="0" izz="0.106208333333"/>
     </inertial>
     <!-- body -->
     <collision name="collision_chassis">
       <geometry>
         <box size="0.5 0.3 0.07"/>
       </geometry>
     </collision>
     <visual>
       <origin rpy="0 0 0" xyz="0 0 0"/>
       <geometry>
         <box size="0.5 0.3 0.07"/>
       </geometry>
       <material name="blue"/>
     </visual>
     <!-- caster front -->
     <collision name="caster_front_collision">
       <origin rpy=" 0 0 0" xyz="0.35 0 -0.05"/>
       <geometry>
         <sphere radius="0.05"/>
       </geometry>
       <surface>
         <friction>
           <ode>
             <mu>0</mu>
             <mu2>0</mu2>
             <slip1>1.0</slip1>
             <slip2>1.0</slip2>
           </ode>
         </friction>
       </surface>
     </collision>
     <visual name="caster_front_visual">
       <origin rpy=" 0 0 0" xyz="0.2 0 -0.05"/>
       <geometry>
         <sphere radius="0.05"/>
       </geometry>
     </visual>
    </link>

    <xacro:link_wheel name="right_wheel" />
    <xacro:joint_wheel name="right_wheel_hinge" child="right_wheel" origin_xyz="-0.05 0.18 0" />

    <xacro:link_wheel name="left_wheel" />
    <xacro:joint_wheel name="left_wheel_hinge" child="left_wheel" origin_xyz="-0.05 -0.18 0" />

    <link name="camera">
        <inertial>
            <mass value="0.01" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                     iyy="0.001" iyz="0.0"
                     izz="0.001" />
        </inertial>

        <visual>
            <origin xyz=" 0 0 0 " rpy="0 0 0" />
            <geometry>
                <mesh filename="package://fouliex_bot/meshes/kinect.dae"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <geometry>
                <box size="0.0730 .2760 0.0720"/>
            </geometry>
        </collision>

    </link>

    <joint name="camera_depth_joint" type="fixed">
        <origin xyz="0 0.011 0" rpy="0 0 0" />
        <parent link="camera" />
        <child link="camera_depth_frame" />
    </joint>
    <link name="camera_depth_frame">
        <inertial>
            <mass value="0.01" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                     iyy="0.001" iyz="0.0"
                     izz="0.001" />
        </inertial>
    </link>

    <joint name="camera_depth_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="-1.57 0 -1.57" />
        <parent link="camera_depth_frame" />
        <child link="camera_depth_optical_frame" />
    </joint>

    <link name="camera_depth_optical_frame">
        <inertial>
            <mass value="0.001" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
                     iyy="0.0001" iyz="0.0"
                     izz="0.0001" />
        </inertial>
    </link>

    <joint name="camera_rgb_joint" type="fixed">
        <origin xyz="0 -0.012 0" rpy="0 0 0" />
        <parent link="camera" />
        <child link="camera_rgb_frame" />
    </joint>

    <link name="camera_rgb_frame">
        <inertial>
            <mass value="0.001" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
                     iyy="0.0001" iyz="0.0"
                     izz="0.0001" />
        </inertial>
    </link>

    <joint name="camera_rgb_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="-1.57 0 -1.57" />
        <parent link="camera_rgb_frame" />
        <child link="camera_rgb_optical_frame" />
    </joint>

    <link name="camera_rgb_optical_frame">
        <inertial>
            <mass value="0.001" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
                     iyy="0.0001" iyz="0.0"
                     izz="0.0001" />
        </inertial>
    </link>

    <!-- Camera Joint -->
    <joint name="base_camera_joint" type="fixed">
        <origin xyz="0.27 0 0" rpy="0 -0.349 0" />
        <parent link="chassis" />
        <child link="camera" />
    </joint>

    <!-- Laser RangeFinder(hokuyo) Link -->

<!-- <link name="hokuyo">
       <inertial>
         <origin xyz="0 0 0" rpy="0 0 0" />
         <mass value="1" />
         <xacro:cylinder_inertia mass="1" r="0.05" l="0.1" />
       </inertial>

       <visual>
         <origin xyz="0 0 0" rpy="0 0 0" />
         <geometry>
           <cylinder radius="0.05" length="0.1"/>
         </geometry>
         <material name="white" />
       </visual>

       <collision>
         <origin xyz="0 0 0" rpy="0 0 0"/>
         <geometry>
           <cylinder radius="0.05" length="0.1"/>
         </geometry>
       </collision>
     </link>
-->

    <link name="hokuyo">
      <inertial>
        <mass value="0.1"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia
                ixx="1e-6" ixy="0" ixz="0"
                iyy="1e-6" iyz="0"
                izz="1e-6" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://fouliex_bot/meshes/hokuyo.dae"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </visual>
      <collision>
        <geometry>
          <box size="0.1 0.1 0.1"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
    </link>

    <!-- Laser RangeFinder(hokuyo) Link -->
    <joint type="fixed" name="hokuyo_joint">
        <origin xyz="0.15 0 0.05" rpy="0 0 0"/>
        <child link="hokuyo"/>
        <parent link="chassis"/>
    </joint>



</robot>
